h1 {
  text-align: center;
}

.difficulty-selector {
  text-align: center;
  margin-bottom: 40px;
}

.board {
  justify-content: center;
}

.cell {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  border: 1px solid #aaa;
  font-size: 20px;
  cursor: pointer;
}

.cell.revealed {
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: default;
}

.cell.mine {
  background-color: red;
}

.cell.flagged {
  background-color: yellow;
}
